.features {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.features__list {
    margin-bottom: -30px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;
        margin-bottom: -30px;
    }
}

.features__item {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        width: calc(100% / 2 - 30px);
        margin-right: 30px;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        width: calc(100% / 4 - 30px);
    }
}

.features__item {
    display: block;
}

.features__title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 10px;
    min-width: 270px;
}

.features__text {
    line-height: 1.7;
    width: 270px;

    color: var(--second-text-color);
}
