.header {
    position: relative;
}

.navigation {
    flex-grow: 1;
}

.navigation__list {
    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: 93px;

        .navigation__item--active {
            color: var(--accent-color);
        }

        .navigation__item + .navigation__item {
            margin-left: 50px;
        }
    }
}

.navigation__item {
    margin-bottom: 32px;
    &:last-child {
        margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
}

.navigation__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus,
    &:active {
        color: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--main-text-color);

        position: relative;

        transition: color 250ms var(--timing-function);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
}

.open-button {
    margin-left: auto;
    background-color: #ffffff;
    border: 0;

    &:hover,
    &:focus {
        color: var(--hover-color-btn);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.navigation-container {
    display: flex;
    @media screen and (max-width: 767.98px) {
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--background-page);
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 48px 40px;
        z-index: 10;
        transform: translateX(0%);
        transition: transform 250ms;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.navigation-container.is-hidden--mob {
    @media screen and (max-width: 767.5px) {
        transform: translateX(100%);
    }
}

.social-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.social-mobile__item {
    padding: 0 10px;
    &:first-child {
        padding-left: 0;
    }

    border-right: 1px solid rgba(33, 33, 33, 0.2);

    &:last-child {
        border: 0;
    }
}

.social-mobile__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.contacts {
    display: flex;
    flex-direction: column-reverse;

    margin-bottom: 64px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
    }
}

.contacts__item:last-child {
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        margin-top: 10px;
        margin-bottom: 0;
    }
}

.contacts__link {
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--second-text-color);

    &--phone-number {
        font-size: 34px;
    }
    &--mailmob {
        font-size: 24px;
    }

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus,
    &:active {
        color: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        line-height: 1.14;
        font-size: 12px;
        color: var(--second-text-color);

        transition: color 250ms var(--timing-function);
    }
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.contacts__icon {
    @media screen and (max-width: 767.98px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        margin-right: 10px;
        fill: currentColor;
    }
}

.navigation-social__button {
    position: absolute;
    top: 10px;
    right: 15px;
    display: block;
    justify-content: center;
    border: 0;
    background-color: transparent;
    fill: var(--color-border-checkbox);
    cursor: pointer;

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus,
    &:active {
        fill: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}
